@page "/"

<PageTitle>Vicknesh Profile</PageTitle>

<h1>Vicknesh Profile</h1>

<p>I was a software engineer.</p>

<p>I recently converted to a security officer. I am new in the private security industry but I do dabble with development projects from time to time.</p> 

<p>They are of use with regards to surveillance and security equipment.</p>

<p>Below is my profile for you to take a look.</p>

<h2>Summary</h2>

<p>Software Developer, Site Reliability Engineer, Tech Fanatic.Of all things, how does the random access memory's randomnessleads to a website and computer engineering development. Howare solutions for chemistry and biology get applied to live humansubjects when they are tested in a lab with participants. Wouldthat not mean some subjects got killed or developed side effectsin the process. Is the world's food supply and power generationneeds enough to keep up with population growth. When Psychologyand Human Behavior is concerned, we tend to group abnormalbehaviors as mental instability. We need to ascertain the fact thatwe might ourselves need to be a good judge of behavior. Is thispossible with the invention of the legal system and the difficulty ofmeasuring environmental stimulus in real life? Where Geographyand Social Movements are concerned, natural disasters earth'spopulated land masses would be underwater, and people wouldhave moved to higher grounds. Social groups tend to move towardsbasic necessities, is staying in an area and taking part in agriculturefeasible or moving around like nomads give an edge to survival.History and Literature has its concerns stemming from the idea ofhow accurate these sources may be. Mathematics and Languagesare used to label information around us, how did the understandingfor these subjects develop and evolve in human beings with the needfor survival and instincts taking precedence. When and how did weget selected to be different sexes when homosexuality and autosexuality with reproductive organs is sufficient to produce offspring?Different spaces and lifetimes raise the possibility of existencebeyond a single plane. How did different organisms form and evolvein the beginning to form the complex ecosystem in the present?Github Profile: https://github.com/V1cknesh</p>

<h2>Work Experience</h2>

<p>
    <h3>Certis Group</h3><br>
    Aviation Security Officer <br>
    April 2024 - Present (8 months) <br>
    Singapore <br>
    Took classes in canoe sports, boxing, muay thai, judo, Brazilian Jiu-Jitsu, kickboxing from junior college, university and evolve mma to prepare for nationalservice and subsequently to be a private security officer.
</p>

<p>
    <h3>Standard Chartered Bank </h3><br>
    Information Technology / Business Analyst <br>
    November 2022 - March 2024 (1 year 5 months) <br>
    Singapore <br>
    - Built an operating system from the ground up.- Researched quantum mechanics as a basis for solving complex problemsquickly.- Studied electrochemical systems and the simulation approaches applied.- Researched computational agroecology methods for sustainable farmingusing technology.- Built a mobile application to access banking services.- Built an automation service that displays important information fromdocuments and technology services created for the purpose of approvals andformal business processes. Integrated this with the DevOps pipeline for easymonitoring.
</p>

<p>
    <h3>PCS Security Pte Ltd </h3><br>
    Information Security Engineer <br>
    October 2022 - November 2022 (2 months) <br>
    Singapore <br>
    - Worked on the architecture/security aspects of deploying applications toAzure.
</p>


<p>
    <h3>Capgemini Pte Ltd</h3><br>
    IT Consultant <br>
    June 2020 - November 2022 (2 years 6 months) <br>
    Singapore <br>
    Worked on an IOS application that renders objects using LIDAR technology.This includes modifying the model generated based on the coordinates.
</p>


<p>
    <h3>Kiteworks Pte Ltd</h3><br>
    DevOps Engineer <br>
    July 2022 - July 2022 (1 month) <br>
    Singapore
</p>


<p>
    <h3>TD Securities Pte Ltd </h3><br>
    Quality Assurance Engineer <br>
    February 2022 - May 2022 (4 months) <br>
    Singapore
</p>


<p>
    <h3>FDM Group Pte Ltd </h3><br>
    Site Reliability Engineer <br>
    June 2018 - March 2020 (1 year 10 months) <br>
    Singapore, Singapore <br>
    IT Consultant <br>
    April 2017 - March 2020 (3 years) <br>
    Singapore
</p>


<p>
    <h3>Land Transport Authority (LTA) Singapore </h3><br>
    Customer Service Analyst <br>
    May 2016 - August 2016 (4 months) <br>
    Singapore <br>
    
    Consolidated data points using Excel VBA
</p>


<p>
    <h3>Coca Restaurant at Leisure Park Kallang </h3><br>
    Waiter <br>
    June 2016 - June 2016 (1 month) <br>
    Singapore, Singapore
</p>


<p>
    <h3>Great Eastern </h3><br>
    Insurance Professional <br>
    December 2015 - December 2015 (1 month) <br>
    Singapore, Singapore <br>
</p>


<p>
    <h3>Cerebral Palsy Alliance Singapore </h3><br>
    Teacher Aide <br>
    March 2013 - August 2013 (6 months) <br>
    Singapore, Singapore <br>
</p>

<h2>Education</h2>

<p>
    National University of Singapore <br>
    Master's degree (Coursework), Computer Science specializing in InfocommSecurity · (2019 - 2021) <br>

    National University of Singapore <br>
    Bachelor’s Degree, Statistics · (2013 - 2017) <br>

    Non-Tertiary Education, General Studies · (1999 - 2013) <br>

    Tampines Junior College <br>
    GCE Alevel, H2 Chemistry, H2 Biology, H2 Mathematics, H1 General Paper,H1 Economics · (January 2009 - December 2010) <br>

    East View Secondary School (January 2005 - December 2008)
</p>


<h2>Contact</h2>

<p>
    vicknesh164@gmail.com <br />
    www.linkedin.com/in/vick-nesh-b55aa2113 (LinkedIn) <br />

    <h3>Certifications</h3> <br />
    Google Cloud Fundamentals: CoreInfrastructure <br />
    IBM Websphere NetworkDeployment 8.5.5 Administration <br />
    MTA: Database Fundamentals -Certified 2020 <br />
    Java Servlets and JSP - Build JavaEE(JEE) app in 25 Steps <br />
    Foundations of Project Management
</p>
